@page "/confirm"

@model ConfirmEmailModel

@{
    ViewData[Globals.Title] = Globals.TitleConfirmEmail;
}

<h4>Confirming email - wait a moment...</h4>

<small>If nothing is happening, try again or contact a server administrator.</small>